$breakpoint-xs: 24em;
$breakpoint-sm: 38em;
$breakpoint-md: 52em;
$breakpoint-lg: 72em;
$breakpoint-xlg: 1564px;
$bracket-left: 1599px;

// custom bracker colors
$match-color: #fafafa;
$bracked-bg: #fff;
$win-color: #d3491b;
$los-color: #777;
$track-color: #333;
$location-col: #7d7d7d;
$date-col: #4d4d4d;
$shadow-col: #e5e5e5;
$connector: #9e9e9e;
$third-col: #ff5000;
$fourth-col: #009ada;
$connect-hover: #d3491b;